export(mcpcalc, wald, mcprofileControl)
exportClasses("mcprofile", "mcpCI", "mcpSummary", "mcprofileControl")

S3method(mcpcalc, lm)
S3method(mcpcalc, glm)
S3method(print, mcprofile)
S3method(plot, mcprofile)
S3method(summary, mcprofile)
S3method(confint, mcprofile)
S3method(print, mcpCI)
S3method(plot, mcpCI)
S3method(exp, mcpCI)
S3method(expit, mcpCI)
S3method(print, mcpSummary)


